---
import Button from "./Button.astro";

const url =
  "https://tpzraxtdvophbbqbosqs.supabase.co/rest/v1/events?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwenJheHRkdm9waGJicWJvc3FzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE3MTUwMjEsImV4cCI6MTk5NzI5MTAyMX0.ZIeHJV3oZD3T-WIq9ILRtu2neaN1gN0CX6mjL0jDjrI";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwenJheHRkdm9waGJicWJvc3FzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE3MTUwMjEsImV4cCI6MTk5NzI5MTAyMX0.ZIeHJV3oZD3T-WIq9ILRtu2neaN1gN0CX6mjL0jDjrI",
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<section class="main-container">
  <section id="plat">
    <h2>Plat du Jour</h2>
    <div id="plat_text">
      <p>
        Leder du efter et lækkert måltid, der er lavet med kærlighed og omhu? Så se ikke længere end vores "Plat du jour" begivenhed. Hver anden fredag tilberedes et måltid af nogle af de mest talentfulde kokke i branchen, kun med de friskeste ingredienser. Hvilken ret vil du
        gerne se på vores næste Plat du Jour?
      </p>
    </div>
    <div id="plat_vote">
      <p>Hvilken ret ønsker du at se til vores næste Plat du Jour?</p>
      <div id="vote">
        <input type="radio" id="dish1" name="dish" value="spaghetti" />
        <label for="dish1">Spaghetti Meatballs</label><br />
        <input type="radio" id="dish2" name="dish" value="croque" />
        <label for="age2">Croque messieurs</label><br />
        <input type="radio" id="dish3" name="dish" value="pig" />
        <label for="Roasted pig">Roasted pig</label><br /><br />
        <input class="submit-white" type="submit" value="Stem" />
      </div>
    </div>
  </section>
</section>
<section class="main-container" id="all_events">
  <div id="events">
    <h2>Events</h2>
    <div id="open-tasting">
      <h3>Åben vinsmagning</h3>
      <p>En gang om måneden er du inviteret til at deltage i vores åbne vinsmagning og prøve vores kuraterede udvalg af naturvine i omada.wine's månedlige abonnementskasse.</p>
    </div>
    <div id="private-tasting">
      <h3>Private vinsmagninger</h3>
      <p>
        Vi tilbyder også skræddersyede private smagninger og funktioner, der passer nøjagtigt til dine behov.<br />
        Ellers tilbyder vi følgende plug and play-løsninger:<br />
        <span class="p-italic">(minimum 4 personer og op til 30)</span>
      </p>

      <h4>Intro til Mixed Fermentation</h4>
      <p>
        En hurtig session om cider, frugt pét-nat og andre mixed fermenteringer. Ca. 1 time.<br />
        <span class="p-italic"> DKK 199,- per person (med snacks + DKK 49,-)</span>
      </p>
      <h4>Naturvin: 101</h4>
      <p>
        En generel introduktion til naturvinens verden, dens historie, værdier, stil og smag. Ca. 1 time<br />
        <span class="p-italic"> DKK 349,- per person (med snacks + DKK 75,-)</span>
      </p>
      <h4>Naturvin: Deep Cuts fra kælderen</h4>
      <p>
        En tour de force i naturvine med nogle af vores high-end cuvées og sjældne årgange, kurateret fra vores kælder. Ca. 1-2 timer.<br />
        <span class="p-italic"> DKK 499,- per person (med snacks +75,-)</span>
      </p>
      <!-- <button class="submit">Book tasting</button> -->
      <Button text="Book tasting" />
    </div>
  </div>
  <div id="calender">
    <h2>Kalender</h2>
    {
      data.map((event) => {
        return (
          <article id="event" class="hidden">
            <div class="event_info">
              <p class="orange">{event.eventtype}</p>
              <h3 class="h3-italic">{event.title}</h3>
              <p>{event.subtitle}</p>
            </div>
            <div class="event-date">
              <p>{event.date}</p>
              <p>{event.time}</p>
              <p>{event.price}</p>
            </div>
          </article>
        );
      })
    }
    <hr class="hr-vertical" />
  </div>
</section>

<style>
  h2 {
    margin-bottom: var(--small);
  }

  h3 {
    margin-bottom: var(--small);
  }

  p {
    margin-bottom: var(--small);
  }
  #plat {
    background-color: var(--orange);
    padding: var(--small);
  }

  #plat_text h3 {
    color: var(--white);
  }

  #plat_text p {
    color: var(--white);
  }

  #plat_vote p {
    color: var(--white);
    font-family: Calibre-bold;
  }

  label {
    font-size: var(--p-font-size);
    font-family: Calibre;
    color: white;
  }

  #plat h2 {
    color: white;
  }

  #events {
    margin-top: var(--medium);
    margin-bottom: var(--large);
  }

  @media (min-width: 850px) {
    #plat {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 var(--large);
      padding: var(--medium);
      margin-bottom: var(--medium);
    }

    #plat_vote {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    #plat_text {
      grid-column: 1/2;
    }

    #events {
      margin-top: 0px;
      margin-bottom: 0;
    }
  }
  #all_events {
    margin: var(--small);
    position: relative;
  }
  #open-tasting h3,
  #private-tasting h3 {
    color: var(--orange);
    margin-bottom: 0;
  }

  article.astro-BQSSETP2 {
    border-bottom: 1px solid var(--orange);
    margin-bottom: var(--small);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: var(--small) 0;
    gap: var(--extra-small);
  }

  .event_info {
    grid-column: 1/4;
  }

  .event-date {
    grid-column: 4/5;
  }

  #calender {
    margin-bottom: var(--small);
  }

  .event_info p,
  .event_info h3 {
    margin: var(--extra-small) 0;
  }

  .event-date p {
    margin: var(--extra-small) 0;
    text-align: right;
  }

  .hr-vertical {
    display: none;
  }

  @media (min-width: 850px) {
    #all_events {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--large);
      margin: 0;
    }

    #calender {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    #events {
      grid-column: 2/3;
    }

    hr.hr-vertical {
      display: block;
      width: 0px;
      height: 95%;
      position: absolute;
      top: 10px;
      left: 50%;
      border-left: 1px solid var(--orange);
      border-right: 0;
    }
  }

  .submit {
    background-color: var(--orange);
    border: 1.5px solid var(--orange);
    padding: 0.7rem 3rem;
    border-radius: 3px;
    cursor: pointer;
    color: var(--white);
    transition: 100ms all ease-in;
  }

  .submit:hover {
    background-color: transparent;
    color: var(--orange);
  }

  .submit-white {
    background-color: var(--white);
    border: 1.5px solid var(--orange);
    padding: 0.7rem 3rem;
    border-radius: 3px;
    cursor: pointer;
    color: var(--orange);
    transition: 100ms all ease-in;
  }

  .submit-white:hover {
    background-color: transparent;
    color: var(--white);
    border: 1.5px solid var(--white);
  }
</style>
